html {
    height: 100vh;
    background-color: #2B2B2B;
    color: #F8F0E3;
}

.main {
    width: 25.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

h1 {
    text-align: center;
    color: #fff;
}

form {
    background-color: #fff;
    padding: 15px;
}

input[type="text"] {
    width: 310px;
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1.5em;
    background: #fff;
    color: #2f4f4f;
}

button {
    font-size: 1.5em;
    color: #53ffdf;
    background-color: #fff;
    outline: 0;
    border: none;
    width: 50px;
    border: 2px solid #53ffdf;
    border-radius: 5px;
}

.tasksBoard {
    background-color: #fff;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    display: none;

}

ul {
    list-style: none;
}

li {
    border-bottom: 1px solid #2B2B2B;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 1.3em;
    color: #2f4f4f;
}

a {
    float: left;
    text-align: left;
    color: #820707;
    font-weight: bolder;
    cursor: pointer;
    border: 2px solid #820707;
    margin-left: 2.5rem;
    padding: 3px;
}

.delete {
    background-color: #820707;
    padding: 0px 3px 0px 3px;
    color: #fff;
    cursor: pointer;
}